.admin-users {

}

.admin-user {
    background-color: @lightGrey;
    margin: 10px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.admin-update-userInfo {
    display: flex;
    flex-direction: column;
    input {
        margin: 10px;
    }
    .admin-update-button {
        padding: 5px;
    }
}
