.attachment {
    form {
        display: flex;
        justify-content: space-between;
        input {
            margin-left: 0;
        }
    }
}


.upload-block {
    margin: 30px 0;
    padding: 16px;
    background-color: @lightGrey;
    border-radius: 16px;
}

.uploaded-info {
    display: flex;
    flex-direction: column;
}

.uploaded__name-time {
    display: flex;
    align-items: baseline;
}

.uploaded__name-time span {
    padding-right: 12px;
}

