.attachment {
    form {
        display: flex;
        justify-content: space-between;
        input {
            margin-left: 0;
        }
    }
}


.upload-block {
    margin: 30px 0;
}

.uploaded-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uploaded__name-time span {
    padding-right: 12px;
}

.download-file {

}
