.authenticate {
  text-align: right;
}

.authenticate-logo {
  animation: authenticate-logo-spin infinite 20s linear;
  height: 2.5em;
}

.authenticate-header {
  background-color: #000000;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}

.authenticate-title {
  font-size: 1em;
}
.authenticate-form {
  align-self: center;
  padding: 0 0 0 10px;
}

.authenticate-intro {
  font-size: large;
  h1 {
    // color: #f15555;
  }
}

@keyframes authenticate-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
