.authenticate {
  display: flex;
  justify-content: center;
}

.authenticate-container {
  text-align: center;
  width: 50%;
}

.authenticate-form {
  display: flex;
  flex-direction: column;
}

.authenticate-intro {
  font-size: large;
  h1 {
    // color: #f15555;
  }
}

