@borderColor: @grey;  // #E6E8EC;

.comments {
    margin-top: 100px;
    max-width: 100%;
}

.comments .comment-block:first-of-type {
    border: none;
}

.comment-form {
    width: auto;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.answer-form {
    padding-left: 30px;
}

.comment-footer {
    display: flex;
    border: 1px solid @borderColor;
    background-color: #F6F8F9;
    justify-content: flex-end;
    height: 46px;
    width: 100%;
}

.comment-button {
    color: white;
    margin: 0;
    font-size: 15px;
    padding: 12px;
    margin-top: -1px;
    margin-right: -1px;
    height: 48px;
    background: @mainColor;
    border: 1px solid @mainColor;
}

.comment-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-field {
    font-family:"AvenirNextLTW01-Regular";
    border-top: 1px solid @borderColor;
    border-left: 1px solid @borderColor;
    border-right: 1px solid @borderColor;
    border-bottom: none;
    font-size: 15px;
    padding: 6px;
    min-height: 80px;
    width: calc(~'100% - 12px');
    resize: none;
    outline: none;
}

.comment-block {
    border-top: 1px solid rgba(1, 1, 1, 0.1);
    padding: 10px 0;
    margin-bottom: 20px;
}

.comment-block__author {
    color: @mainColor;
    font-size: 16px;
    margin: 0;
}

.comment-block__time {
    color: grey;
    font-size: 12px;
    margin-left: 12px;
}

.comment-block__is-admin {
    color: @mainColor;
    font-size: 16px;
    margin-left: 12px;
    padding: 2px;
}

.comment-block__text {
    margin: 0;
    white-space: pre-line;
    font-size: 18px;
    line-height: 28px;
}

.show-answer-form {
    display: inline-block;
    font-size: 16px;
    text-decoration: underline;
    padding: 12px 12px 12px 0;
    color: grey;
    &:hover {
        color: black;
        cursor: pointer;
    }
}
.show-answer-form__hasAnswers {
    padding: 12px 12px 12px 30px;

}

.answer-block {
    padding: 10px 30px;
}

.success {

}

.comment--error-message {
    color: red;
    align-self: center;
    margin-right: 50px;
}
