.lesson-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
    a {
        text-decoration: underline;
    }
    img {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    ul, li, ol {
        font-size: 20px;
        line-height: 30px;
    }
    .embedly-card {
        margin-top: 60px;
    }
    .breadcrumb {
        color: @darkGrey;
        margin-bottom: 20px;
    }
}

