@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
h1 {
}
p {
  font-size: 16px;
    line-height: 24px;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  margin: 10px;
  padding: 3px;
  outline: none;
}
button, .button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
  outline: none;
  cursor: pointer;
  &:hover {
    outline: 1px solid black;
  }
}
a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #9492aa;
  }
}
.no-match {
  border: 1px solid red;
}

.main-wrapper {
  height: 100vh;
}
.top-bar {
  border-bottom: 2px solid lightsteelblue;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 16px;
}
.top-menu {
  list-style: none;
  display: inline-flex;
  li {
    margin: 0 10px;
  }
}
.login, .logout {
  color: #000;
  padding: 16px;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}
.logout {
  position: fixed;
  right: 0;
  z-index: 1;
}

@import "authenticate.less";
@import "register.less";
@import "dashboard.less";
@import "comments.less";
@import "loader.less";
@import "attachment.less";
@import "step.less";
@import "lesson.less";
