body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}
h1 {
}
p {
  font-size: 16px;
}
input {
  font-size: 16px;
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.button {
  border: 1px solid #7edc97;
  &:hover {
    outline: 2px solid #7edc97;
  }
}

.no-match {
  border: 1px solid red;
}

.main-wrapper {
  padding: 5%;
  height: 100vh;
  img {
    width: 100%;
    height: auto;
  }
}

@import "authenticate.less";
@import "register.less";
