.register {
  margin-top: 16px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    filter: grayscale(1);
    height: 2.5em;
  }
}


.register-form {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  width: 100%;
  label {
    margin-bottom: 20px;
    padding: 0 0 0 10px;
  }
}
.register-logo {
  animation: register-logo-spin infinite 20s linear;
}

.aprove {
  margin-top: 20px;
}

.no-match {
  border: 1px solid red;
}

.login-after-register {
  .button;
  font-size: 16px;
  padding: 16px 60px;
}

.policy-link {
  text-decoration: underline;
  cursor: pointer;
}

