.step {

}

.stepper-container {
    display: flex;
    justify-content: space-between;
}

.stepper {
    padding: 12px;
    background-color: @mainColor;
    color: white;
    width: 200px;
    text-align: center;
    a {
        color: white;
        &:hover {

        }
    }
}
