@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
p {
  font-size: 16px;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  margin: 10px;
  padding: 3px;
  outline: none;
}
button,
.button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
button:hover,
.button:hover {
  outline: 1px solid black;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ff3;
}
.no-match {
  border: 1px solid red;
}
.main-wrapper {
  height: 100vh;
}
.main-wrapper img {
  width: 100%;
  height: auto;
}
.top-bar {
  border-bottom: 2px solid lightsteelblue;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  padding: 16px;
}
.top-menu {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.top-menu li {
  margin: 0 10px;
}
.login,
.logout {
  color: #000;
  padding: 16px;
  cursor: pointer;
}
.login:hover,
.logout:hover {
  color: #ff3;
}
.authenticate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authenticate-container {
  text-align: center;
  width: 50%;
}
.authenticate-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.authenticate-intro {
  font-size: large;
}
.register {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  height: 2.5em;
}
.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register-logo {
  -webkit-animation: register-logo-spin infinite 20s linear;
          animation: register-logo-spin infinite 20s linear;
}
.no-match {
  border: 1px solid red;
}
@-webkit-keyframes register-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes register-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.side-bar {
  positon: fixed;
  min-width: 250px;
  padding: 16px;
  border-right: 2px solid lightsteelblue;
  color: #000;
  height: 100vh;
}
.content {
  padding: 32px;
}
.content a {
  color: #000;
}
.comment-form {
  width: 100%;
  margin: 10px 0;
}
.comment-field {
  font-size: 14px;
  min-height: 100px;
  width: 100%;
}
.comment-block {
  padding: 10px;
  border: 1px solid lightgray;
}
.comment-block__author {
  color: grey;
  font-size: 14px;
}
.comment-block__text {
  white-space: pre-line;
}
